/chapter01/beanvalidation/beanvalidation/target/
/chapter01/beanvalidation/beanvalidation/nbproject/
/chapter01/beanvalidation/ch01-beanvalidation/nbproject/
/chapter01/beanvalidation/ch01-beanvalidation/target/
/chapter01/cdi/ch01-cdi/target/
/chapter01/ch01-jaxrs/target/
/chapter01/ch01-jsf/target/
/chapter01/ch01-jsonb/target/
/chapter01/ch01-jsonp/target/
/chapter01/ch01-mvc/target/
/chapter01/ch01-servlet/target/
/chapter01/ch01-security/target/
/chapter01/ch01-security/nbproject/
/chapter02/teste/target/
/chapter02/javaee8-rep-template/target/
/javaee8-rep-template/target/
/chapter03/ch03-sse/target/
/chapter03/ch03-rscdi/target/
/chapter03/ch03-jsonb/target/
/chapter03/ch03-jsonp/target/
/chapter04/ch04-servlet/target/
/chapter04/ch04-serverpush/target/
/chapter04/ch04-jsf/target/
/chapter04/ch04-jsf/ch04-jsf/target/
/chapter05/ch05-authentication/target/
/chapter05/ch05-authorization/target/
/chapter05/ch05-declarative/target/
/chapter05/ch05-programmatic/target/
/chapter05/ch06-connectionpooling/target/
/chapter06/ch06-jms/nbproject/
/chapter06/ch06-jms/target/
/chapter06/ch06-transaction/nbproject/
/chapter06/ch06-transaction/target/
/chapter06/ch06-lifecycle/target/
/chapter06/ch06-connectionpooling/target/
/chapter08/ch08-micro_x_mono-mono/nbproject/
/chapter08/ch08-micro_x_mono-mono/target/
/chapter08/ch08-micro_x_mono-micro-user/target/
/chapter08/ch08-micro_x_mono-micro-address/target/
/chapter08/ch08-micro_x_mono-micro-gateway/target/
/chapter08/ch08-decoupled-dosomethingwithuser/target/
/chapter08/ch08-automation/nbproject/
/chapter08/ch08-automation/target/
/chapter09/ch09-async-result/target/
/chapter09/ch09-task-status/target/
/chapter09/ch09-async-transaction/target/
/chapter09/ch09-scheduled-task/target/
/chapter09/ch09-managed-thread/target/
/chapter09/ch09-cdi-task/target/
/chapter09/ch09-proxy-task/target/
/chapter10/ch10-async-bean/target/
/chapter10/ch10-event-observer/target/
/chapter10/ch10-async-servlet/target/
/chapter10/ch10-async-websocket/target/
/chapter10/ch10-completable-future/target/
/chapter10/ch10-async-jaxrs/target/
/chapter01/ch01-jnosql-graph/target/
/chapter01/ch01-jnosql-keyvalue/target/
/chapter08/ch08-mpmetrics/target/
/chapter08/ch08-mpopenapi/target/
/chapter08/ch08-mphealthcheck/target/
/chapter10/ch10-mdb/target/