/chapter01/beanvalidation/beanvalidation/target/
/chapter01/beanvalidation/beanvalidation/nbproject/
/chapter01/beanvalidation/ch01-beanvalidation/nbproject/
/chapter01/beanvalidation/ch01-beanvalidation/target/
/chapter01/cdi/ch01-cdi/target/